.main {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  padding: 5px 10px;
}

.actual {
  @extend .main;
    background-color: #2a2a2a;
    color: #ffffff;
 }

.original {
  @extend .main;
  position: relative;
  color: #b1b0b0;

  &::after {
    content: "";
    border: 1px solid #111111;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }
}
