@import "../../../styles/settings.scss";

.root {
  background-color: $header-bg;

  :global(.container) > :global(.row) {
    height: 145px;
  }
  .mobile {
    display: none;
  }

  .phoneNumber {
    p {
      margin: 0;
      font-size: 17px;
      line-height: 42px;
      color: $header-claim-text;
      font-weight: 500;

      .icon {
        font-size: 32px;
        color: $header-claim-primary;
        vertical-align: middle;
        margin-top: -3px;
        margin-right: 0.8rem;
      }
    }
  }
}

// media-query for mobile

@media (max-width: 576px) {
  .root {
    .desktop {
      display: none;
    }

    .mobile {
      display: flex;
    }

    .logo {
      flex: 0 0 45%;

      img {
        width: 65%;
        height: 65%;
      }
    }

    .phoneNumber {
      p {
        font-size: 14px;

        .icon {
          font-size: 1.5rem;
        }
      }
    }
  }
}
