@import "../../../styles/settings.scss";

.root {
    .dots {
      position: absolute;
      right: 0;
      top: 0;

      ul {
        margin: 0;
        padding: 0 0 0 1rem;
        list-style: none;
        background-color: $panelbar-bg;
        transform: translateY(15px);

        li {
          display: inline-block;
          margin-left: 0.5rem;

          a {
            display: block;
            width: 13px;
            height: 13px;
            border-radius: 6px;
            background-color: $panelbar-link-bg;
            font-size: 0;

            &.active,
            &:hover {
              background-color: $panelbar-primary;
          }
        }
      }
    }
  }
}
