$base-padding: 24px;

$header-topbar-bg: #434343;
$header-bg: #363636;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$primary: #d58e32;

$text-color: #2a2a2a;

$form-border-color: #292929;

$price-color:  #ffffff;
$price-color-original: #b1b0b0;
$price-color-background: #2a2a2a;

$time-animation: 250ms;
$background-color-time-animation: 250ms;
$text-color-time-animation: 250ms;
$hover-translate-y: 5px;

%hover-effects {
  transition: all $time-animation ease;

  &:hover {
    transform: translateY($hover-translate-y);
    background-color: $primary;
  }
}
