$base-padding: 24px;

$header-topbar-bg: #434343;
$header-bg: #363636;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$primary: #d58e32;

$text-color: #2a2a2a;

$form-border-color: #292929;

$time-transition: 250ms;

$time-animation-background-color: $time-transition + 0ms;
$time-animation-text: $time-transition + 0ms;
$time-animation-icon: $time-transition + 0ms;

.move-hover {
  $moveX: 15px;
  $moveY: 0;
  $scale: 2;

  transform: translate($moveX, $moveX) scale($scale);
}
