@import "../../../styles/settings.scss";

.panelBar {
  margin-bottom: 30px;
  position: relative;
  border-bottom: 4px solid $panelbar-border;

  // :global(.row) > * {
  //   border-bottom: 4px solid $panelbar-border;
  // }

  .heading {
    position: relative;

    h3 {
      color: $panelbar-primary;
      text-transform: uppercase;
      font-size: 20px;
      line-height: 38px;
      margin: 0;
      letter-spacing: 1px;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 45px;
      border-bottom: 4px solid $panelbar-primary;
    }
  }
}
