@import "../../../styles/settings.scss";
.root {
  padding: 30px 0;

  .slider {
    width: 71.3rem;
    height: 8.8rem;
    margin: 0.6rem auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-top: 0.08rem solid $lighterGrayTwo;
    border-bottom: 0.08rem solid $lighterGrayTwo;

    .imgContainer {
      display: flex;
    }

    .item {
      width: 9rem;
      height: 5.4rem;
      transition: transform 0.5s ease;
      margin-right: 1rem;
      margin-left: 1rem;
      border: 0.08rem solid $lighterGrayTwo;
      text-align: center;
      justify-content: center;

      img {
        width: 100%;
        height: 100%;
      }
    }

    button {
      width: 2rem;
      height: 5.4rem;
      background-color: $darkGray;
      margin-right: 1rem;

      .fa {
        align-items: center;
        color: $white;
        font-size: 12px;
      }
    }

    button:nth-of-type(2) {
      margin: 0;
      margin-left: 1rem;
    }
  }
}

@media (max-width: 768px) {
  .root {
    .slider {
      width: 32rem;

      .item {
        width: 8rem;
      }
    }
  }
}
@media (max-width: 600px) {
  .root {
    .slider {
      width: 20rem;

      .item {
        width: 5rem;
      }
    }
  }
}
@media (max-width: 365px) {
  .root {
    .slider {
      width: 15rem;
      height: 6rem;

      .item {
        width: 3rem;
        height: 4rem;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .root {
    .slider {
      width: 40rem;

      .item {
        width: 6rem;
      }
    }
  }
}
