@import "../../../styles/settings.scss";

.root {
 // display: flex;
  padding: 1rem 0;

  .bkgImage {
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: 100% 100%;
    height: 100%;

    @media only screen and (max-width: 575.5px) {
      height: 150px;
    }
  }

  .panel {
  //  column-gap: 10px;

    @media only screen and (max-width: 575.5px) {
      row-gap: 10px;
    }
  }

  .leftPanel {
    color: white;
    background-color: gray;
    padding: 10px;

    .bkgImage {
      height: 300px;
    }

    .content {
      padding-left: 25px;
      padding-bottom: 25px;
    }

    p {
      font-size: 25px;
      font-weight: 600;
      line-height: 1.8rem;
      letter-spacing: .25rem;
      margin-right: auto;
      margin-bottom: 0;
      text-transform: uppercase;
      padding: 0;
    }

    p:nth-of-type(2){
      font-weight: bold;
      font-size: 2rem;
    }

    p:last-child{
      margin-top: 5px;
      padding: 5px;
      border: 3px solid white;
    }
  }

  .rightPanel {
    height: 100%;
    row-gap: 30px;
    @media only screen and (max-width: 575.5px) {
      row-gap: 10px;
    }

    .rightUpper {
      background-color: rgb(181, 189, 223);
      flex: 1;
      padding: 10px;

      .content {
        width: 50%;
      }
    }

    .rightBottom {
      background-color: rgb(243, 213, 224);
      flex: 1;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: start;
  }

}
